{% extends 'base.html' %}
{% load tz %}


{% block title %}public meetings{% endblock %}


{% block content %}
<div class='container-fluid'>

<a href="{% url 'meeting-new' %}" class="btn btn-block btn-outline-primary mt-3 hidden-lg-up btn-class-for-test">Post a meeting</a>

<form class="my-3">
    <select name="timezone">
        {% for tz in common_timezones %}
        <option value="{{ tz }}" {% if tz == timezone %} selected="selected"{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>

    <input type='submit' value='Change Time Zone' class='btn btn-sm btn-secondary'>
</form>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>What</th>
      <th>Who</th>
      <th>When</th>
      <th>Where</th>
    </tr>
  </thead>
  <tbody>
    {% for meeting in object_list %}
    <tr>
      <td>
        <a href="{{ meeting.link }}">{{ meeting.title }}</a>
        <br>{{ meeting.topic }}
      </td>
      <td>{{ meeting.organization }}</td>
      <td>{{ meeting.datetime|timezone:timezone }}</td>
      <td>{{ meeting.location }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
