{% extends 'base.html' %}
{% load static %}


{% block title %}Post a public meeting{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock %}


{% block content %}
<div class="container wrapper my-5">
  <h1>Post a public meeting</h1>

  <form method='POST'>
      {% csrf_token %}
      {{ form.as_p }}

      <p>
        <select name="timezone" class="form-control">
          <option value="" selected="selected">Select time zone:</option>
            {% for tz in common_timezones %}
            <option value="{{ tz }}">{{ tz }}</option>
            {% endfor %}
        </select>
        <span class="helptext text-muted form-text small">Default: America/New York (EST)</span>
      </p>

      <input type='submit' value='Save' class='btn btn-primary btn-lg btn-block'>
  </form>
</div>
{% endblock %}


{% block footer %}
<script src="{% static 'form.js' %}"></script>
{% endblock %}
