{% extends 'base.html' %}
{% load static %}


{% block title %}Post a public meeting {% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'form.css' %}">
<script src="{% static 'form.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container wrapper my-5">
  <h1>Post a public meeting</h1>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <form method='POST'>
      {% csrf_token %}
      {{ form.as_p }}

      <p>
        <select name="timezone" class="form-control">
          <option value="" selected="selected">Select time zone:</option>
            {% for tz in common_timezones %}
            <option value="{{ tz }}">{{ tz }}</option>
            {% endfor %}
        </select>
      </p>

      <input type='submit' value='Save' class='btn btn-primary btn-lg btn-block'>
  </form>
</div>
{% endblock %}
