{% extends 'base.html' %}

{% block title %}Public Meetings {% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Public Meeting Aggregator</h1>
    <a href="{% url 'meetings' %}" class="btn btn-primary btn-lg">Browse meetings</a>
    <a href="{% url 'meeting-new' %}" class="btn btn-secondary btn-lg">Post a meeting</a>
    <a href="https://en.wikipedia.org/wiki/Ecclesia_(ancient_Athens)" class="btn btn-link">What is publicmeetings?</a>
  </div>
</div>
{% endblock %}
